@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
@*@model List<MVCHomework6.Data.Database.Articles>
*@
@{
    ViewData["Title"] = "Home Page";
    var pagedList = (IPagedList) Model;
}

@foreach (var item in Model)
{
    <div class="card mt-5">
        <img src="@item.CoverPhoto" class="card-img-top" alt="@item.CoverPhoto">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@Html.Raw(item.Body)</p>
            <partial name="_TagPartialView" model="item.Tags"/>
        </div>
        <div class="card-footer text-muted">
            Posted on @item.CreateDate.ToString("yyyy-MM-dd") by me
        </div>
    </div>
}

<nav class="mt-4">
    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page }), 
    new PagedListRenderOptions
    {
        PageClasses = new string[] { "page-link" },
        UlElementClasses = new string[] { "pagination justify-content-center" },
        LiElementClasses = new string[] { "page-item" },
    })
</nav>